$rosa: #ff6b6b;
$rosa-claro: #d7adad;
$azul: #003a4f;
$c-escuro: #393939;
$c-claro: #c0c0c0;
$white: #f1f0e7;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}